@using Biblioteka.Models;

@{
    Layout = null;
}

<html>

<head>
</head>

<body>
    <table border="1">

        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>

        @foreach (Bookstore bookstore in Model)
        {
                <tr>
                    <td>@bookstore.Id</td>
                    <td>@bookstore.Name</td>
                </tr>
        }
    </table>
  

    @Html.ActionLink("Home Page","Index")

</body>

</html>
