@using Biblioteka.Models;
@model Biblioteka.Models.Genre;

@{
    Layout = null;
}

<html>

<head>
</head>

<body>
    <table border="1">

        @using(Html.BeginForm("EditGenre","Home",FormMethod.Post))
        {
        <table border="1">

         <tr>
             <th colspan="2">Edit genre:@Model.Name</th>
         </tr>

         <tr>
             <th>Name of genre</th>
             <td>@Html.TextBoxFor(m => m.Name)</td>
         </tr>

         <tr>
             <th colspan="2">
                <button name="submit">Edit genre</button>
             </th>
         </tr>
     
    </table>
        }

    @Html.ActionLink("Home Page","Index")

</body>

</html>
